@model testing2.Models.DetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.IMDBLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.IMDBLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actor.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actor.Photo)
        </dt>
        <dd>
            @if (Model.Actor.Photo != null)
            {
                <img width="120" height="150" src="@Url.Action("GetActorPhoto", "Actors", new {Model.Actor.Id})" />
            }
        </dd>
        <dt class="col-sm-2">
            Sentiment
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sentiment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Actor.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h1>Movies</h1>
<table id="indexTable" class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>IMDBLink</th>
            <th>Genre</th>
            <th>ReleaseYear</th>
            <th>Poster</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ActorMovie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.IMDBLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.ReleaseYear)
                </td>
                <td>
                    @if (item.Movie.Poster != null && item.Movie.Poster.Length != 0)
                    {
                        <img width="120" height="150" src="@Url.Action("GetMoviePoster", "Movies", new {item.Movie.Id})" />
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Movies" asp-route-id="@item.Movie.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css" />
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>
    <script>
    $(document).ready(function () {
            $('#indexTable').DataTable({
                paging: true,
                ordering: true,
                searching: true
            });
        });</script>
}
